<div class="modal fade hide all-meals-dialog" tabindex="-1" role="dialog" aria-modal="true" id="all_meals_dialog">
</div>

<% @week.times do |n| %>
  <h1 class="px-3">Meal Plan Week <%= n + 1 %></h1>
  <%= render partial: '/meal_plans/meal_plan_table', locals: { week: n + 1, breakfast_meals: @breakfast_meals.offset(n * 7).first(7), lunch_meals: @lunch_meals.offset(n * 7).first(7), dinner_meals: @dinner_meals.offset(n * 7).first(7) } %>
<% end %>