<div class="category-box-container">
  <%= link_to link_url, class: 'category-box-item d-block' do %>
    <%= image_tag category_url, class: 'category-img' %>
    <span class="bottom-left-corner-indicator-lg indicator"><%= category_text %></span>
  <% end %>
</div>