<div class="category-box-container">
  <div class="category-box-item">
    <%= image_tag category_url, class: 'category-img' %>
    <span class="bottom-left-corner-indicator-lg indicator"><%= category_text %></span>
  </div>
</div>