<div class="hero-container">
  <h1>PLAN SHOP COOK</h1>
  <h2>LOREM IPSUM DOLOR SIT AMET CONSECTETUR ADIPISICING ELIT. TEMPORE, NOSTRUM.</h2>
  <%= link_to 'Submit Recipe', '#_', class: 'primary-btn' %>
</div>