<div class="secondary-app-container new-this-week-container">
  <div class="container">
    <h2 class="text-center mb-4">New this Week</h2>
    <p class="text-center mb-5">These recipes are added to our users weekly</p>
  </div>
  <div class="container">
    <div class="row">
      <% 10.times do %>
        <div class="col-lg-3">
          <%= render partial: '/shared/meal_item', locals: { meal_item_image_url: image_url('home/healthy.jpg'), top_left_corner_text: 'Lunch', floating_size: 'md' } %>
        </div>
      <% end %>
    </div>
  </div>
</div>