<div class="secondary-app-container new-this-week-container">
  <div class="container">
    <h2 class="text-center mb-4">New this Week</h2>
    <p class="text-center mb-5">These recipes are added to our users weekly</p>
  </div>
  <div class="container">
    <div class="row">
      <% @recipes.each do |recipe| %>
        <div class="col-lg-3">
          <%= render partial: '/shared/meal_item', locals: { favorite_recipe_ids: @favorite_recipe_ids, recipe: recipe, meal_item_image_url: url_for(recipe.recipe_picture), floating_text: { top_left_corner_text: 'Lunch', floating_size: 'md' } } %>
        </div>
      <% end %>
    </div>
  </div>
</div>