<div class="new-item-box-container">
  <div class="new-item-box-item">
    <%= image_tag new_item_image_url, class: 'new-item-img' %>
    <span class="top-left-corner-indicator-md indicator"><%= new_item_text %></span>
  </div>
</div>