@import "variable";

// mixins start
@mixin dark-dropdown-list($min-width: 180px) {
  @include dropdown-list($min-width: $min-width, $foreground-color: $secondary-color, $background-color: $black-color, $hover-foreground-color: $secondary-color, $hover-background-color: $black-color, $disabled-foreground-color: $dropdown-text-disabled-color, $disabled-background-color: $dropdown-background-disabled-color, $border-color: $black-color);
}

@mixin light-dropdown-list($min-width: 180px) {
  @include dropdown-list($min-width: $min-width);
}

@mixin dropdown-box($container, $margin-top, $foreground-color, $background-color, $hover-foreground-color, $hover-background-color, $min-width: 180px) {
  .#{$container} {
    z-index: 1021;
    left: auto;
    padding: 0;
    margin: 0;
    border: none;
    margin-top: $margin-top;
    position: absolute;
    max-height: 500px;
    min-width: -moz-max-content;

    @include dropdown-list($min-width: $min-width, $foreground-color: $foreground-color, $background-color: $background-color, $hover-foreground-color:  $hover-foreground-color, $hover-background-color: $hover-background-color, $disabled-foreground-color: $dropdown-text-disabled-color, $disabled-background-color: $dropdown-background-disabled-color);
  }
}

@mixin light-dropdown-box($container, $min-width: 180px, $margin-top: 5px, $margin-bottom: 5px) {
  .#{$container} {
    // z-index: 1021;
    // left: auto;
    // padding: 0;
    // margin: 0;
    // border: none;
    // margin-top: $margin-top;
    // margin-bottom: $margin-bottom;
    // position: absolute;
    // min-width: -moz-max-content;

    @include light-dropdown-list($min-width: $min-width);
  }
}

@mixin dark-dropdown-box($container, $min-width: 180px, $margin-top: 5px, $margin-bottom: 5px) {
  .dropdown-toggle {
    background-color: $primary-color;
    color: $secondary-color;
    border: 1px solid $primary-color;
    border-radius: 4px;

    &:hover, &:focus, &:active {
      background-color: $secondary-color !important;
      color: $primary-color !important;
      border: 1px solid $primary-color !important;
      box-shadow: none !important;
      outline: none !important;
    }
  }

  .#{$container} {
    @include dark-dropdown-list($min-width: $min-width);
  }
}

@mixin dropdown-list($min-width, $foreground-color: $dropdown-text-default-color, $background-color: $dropdown-item-background-default-color, $hover-foreground-color: $dropdown-text-hover-color, $hover-background-color: $dropdown-item-background-hover-color, $disabled-foreground-color: $dropdown-text-disabled-color, $disabled-background-color: $secondary-color, $border-color: $primary-color) {
  ul {
    background-color: $background-color;
    list-style-type: none;
    padding: 5px 0;
    margin: 0;
    border: 1px solid $border-color;
    border-radius: $primary-radius;
    width: max-content;
    max-height: 300px;
    overflow: auto;
    min-width: $min-width;

    li {
      text-decoration: none;
      a {
        display: block;
        color: $foreground-color;
        background-color: $background-color;
        text-decoration: none;
        padding: 3px 20px;
        line-height: 25px;
        font-size: 12px;
      }

      a.disabled {
        cursor: not-allowed;
        background-color: $disabled-background-color;
        color: $disabled-foreground-color;
      }

      a.disabled:hover {
        cursor: not-allowed;
      }

      a:hover {
        background-color: $hover-background-color;
        color: $hover-foreground-color;
        img{
          opacity: 1;
        }
      }
    }
  }
}
// mixins end

.secondary-app-container {
  padding: 96px 0;
  background-color: $secondary-color;
  width: 100%;
}

.primary-btn {
  background-color: $primary-button-background-color;
  color: $primary-button-text-color;
  border-radius: $primary-radius;
  border: 1px solid $primary-button-border-color;
  text-decoration: none !important;
  cursor: pointer;
  padding: 16px 48px;

  &:hover {
    background-color: $primary-button-hover-background-color;
    color: $primary-button-hover-text-color;
    border: 1px solid $primary-button-hover-border-color;
  }
}

.secondary-btn {
  background-color: $secondary-button-background-color;
  color: $secondary-button-text-color;
  border-radius: $primary-radius;
  border: 1px solid $secondary-button-border-color;
  text-decoration: none !important;
  cursor: pointer;
  padding: 8px 12px;
  line-height: 36px;

  &:hover {
    background-color: $secondary-button-hover-background-color;
    color: $secondary-button-hover-text-color;
    border: 1px solid $secondary-button-hover-border-color;
  }
}

.app-primary-link {
  text-decoration: none;
  color: $primary-link-text-color;

  &:hover, &:focus {
    text-decoration: none;
    color: $primary-link-hover-color;
  }
}

.app-secondary-link {
  text-decoration: none;
  color: $secondary-link-text-color;

  &:hover, &:focus {
    text-decoration: none;
    color:$secondary-link-hover-color;
  }
}

// app custom checkbox start
.checkbox-container {
  display: block;
  position: relative;
  margin-bottom: 12px !important;
  padding: 0 !important;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex !important;
  justify-content: flex-start !important;

  input[type="checkbox"] { width: 18px !important; height: 0; }
  /* Hide the browser's default checkbox */
  input {
    padding-left: 30px;
    opacity: 0;
    cursor: pointer;
    height: 0 !important;
    width: 0;
  }
  label {
    padding: 0 !important;
    padding-left: 12px !important;
    display: block;
    line-height: 18px;
    cursor: pointer;
  }
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 2px;
    left: 0;
    height: 16px;
    width: 16px;
    border: 1px solid $checkbox-unchecked-border-default-color;
    border-radius: 3px;
    background-color: $checkbox-unchecked-background-default-color;
  }
}



/* On mouse-over, add a $primary-color border */
.checkbox-container:hover input ~ .checkmark {
  border: 1px solid $checkbox-unchecked-border-hover-color;
  background-color: $checkbox-unchecked-background-hover-color;
  border-radius: 3px;
}

/* When the checkbox is checked, add a $primary-color background */
.checkbox-container input[type="checkbox"]:disabled ~ .checkmark {
  background-color: $checkbox-unchecked-background-disabled-color;
  border: 1px solid $checkbox-unchecked-border-disabled-color;
}

.checkbox-container input[type="checkbox"]:disabled:hover ~ .checkmark {
  cursor: not-allowed;
}

/* When the checkbox is checked, add a $primary-color background */
.checkbox-container input:checked ~ .checkmark {
  background-color: $checkbox-checked-background-default-color;
  border: 1px solid $checkbox-checked-border-default-color;
}

.checkbox-container input:checked:hover ~ .checkmark {
  background-color: $checkbox-checked-background-hover-color;
  border: 1px solid $checkbox-checked-border-hover-color;
}

.checkbox-container input:checked:disabled ~ .checkmark {
  background-color: $checkbox-checked-background-disabled-color;
  border: 1px solid $checkbox-checked-border-disabled-color;
}


/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  transform: scale(1) rotate(45deg);
  transition: transform 200ms;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
  left: 4px;
  top: -1px;
  width: 6px;
  height: 12px;
  border: solid $checkbox-checked-text-default-color;
  border-width: 0 2px 2px 0;
  -webkit-transform: scale(0) rotate(45deg);
  -ms-transform: scale(0) rotate(45deg);
  transform: scale(0) rotate(45deg);
  transition: transform 200ms;
  transform-origin: 47% 54%;
}
// app custom checkbox end

// start label and input
.label-input-container-sm {
  padding: 14px 0;

  .label-input-item {
    padding: 7px 0;

    label {
      line-height: 16px;
      padding: 6px 0;
      margin: 0;
      word-break: break-all;
      cursor: pointer;
    }

    input, textarea {
      // total height - padding + border - text size defined
      padding: 7px 8px;
      line-height: 20px;
      width: 100%;
      border: 1px solid $grey-color;
      border-radius: 4px;

      &:focus {
        border: 1px solid $black-color;
        outline: none;
        box-shadow: none;
      }
    }

    .add-resource-element {
      a {
        line-height: 36px;

        img {
          width: 25px;
          height: 25px;
          line-height: 36px;
        }
      }
    }
  }

  .label-input-item:first-child {
    padding-top: 0;
  }

  .label-input-item:last-child {
    padding-bottom: 0;
  }

  .form-submit {
    background-color: $primary-button-background-color;
    color: $primary-button-text-color;
    border-radius: $primary-radius;
    border: 1px solid $primary-button-border-color;
    text-decoration: none !important;
    cursor: pointer;
    padding-top: 7px;
    padding-bottom: 7px;
    width: 100%;

    &:hover, &:focus {
      outline: none;
      box-shadow: none;
      background-color: $primary-button-hover-background-color;
      color: $primary-button-hover-text-color;
      border: 1px solid $primary-button-hover-border-color;
    }
  }
}

.label-input-container {
  .label-input-item {
    padding-top: 10px;

    label {
      line-height: 22px;
      padding: 9px 0;
      margin: 0;
    }

    input, textarea {
      padding: 9px;
      line-height: 22px;
      border: 1px solid $grey-color;
      border-radius: 4px;

      &:focus {
        border: 1px solid $black-color;
        outline: none;
        box-shadow: none;
      }
    }

    .add-resource-element {
      a {
        line-height: 42px;

        img {
          width: 25px;
          height: 25px;
          line-height: 42px;
        }
      }
    }
  }

  .label-input-item:first-child {
    padding-top: 0;
  }

  .label-input-item:last-child {
    padding-bottom: 0;
  }
}
// end label and input

// dropdown start
.primary-dropdown {
  .dropdown-toggle {

  }

  .dropdown-menu {
    .dropdown-item {
      color: $primary-color !important;

      &:hover, &:focus {
        color: $secondary-color !important;
        background-color: $primary-color !important;
      }
    }
  }
}
// dropdown end

// list start
.inline-primary-list {
  li {
    list-style-type: none;
    display: inline-block;

    a {
      text-decoration: none;
      color: $primary-color;
      font-size: 1rem;
      padding: 5px 20px;
      background-color: transparent;
      border-radius: 4px;

      &:hover, &:focus {
        text-decoration: none;
        color:$secondary-link-hover-color;
      }
    }

    a.selected {
      background-color: $primary-color;
      color: $secondary-color;
    }
  }
}
// list end

// dropdown start
.primary-dropdown {
  @include dark-dropdown-box($container: primary-dropdown);
}
// dropdown end

// breadcrumb start
.breadcrumbs-container {
  padding: 0 50px;

  .breadcrumb-item{
    margin: 20px 0;
    display: inline-block;
  }
}
// breadcrumb end

// select2 start
.select2-selection {
  height: 36px !important;

  .select2-selection__rendered {
    line-height: 36px !important;
  }

  .select2-selection__arrow {
    height: 34px !important;
  }
}
// select2 end

// flash messages start
.floating-flash-messages-wrapper {
  position: fixed;
  top: -400px;
  width: 60%;
  margin: 0 auto;
  left: 20%;
  z-index: 1031;
  background-color: transparent;
  transition: all 0.5s;
}

.flash-messages-wrapper {
  width: 100%;

  .flash-type {
    margin-bottom: 20px;
    padding: 0;
    background-color: $secondary-color;
    border-top-right-radius: $primary-radius;
    border-bottom-right-radius: $primary-radius;
    border-top-left-radius: $primary-radius;
    border-bottom-left-radius: $primary-radius;

    ul {
      padding: 0 20px 12px 20px;
      margin: 0;

      li {
        font-size: 1rem;
        color: $body-text-color;
      }
    }

    .flash-icon {
      height: 26px;
      width: 26px;
      display: block;
      text-align: center;
      position: absolute;
      margin-top: -13px;
      margin-left: 25px;
      border-radius: 50%;
      color: $secondary-color;
      border: 1px solid $body-text-color;
      
      i {
        font-size: 1rem;
        line-height: 24px;
      }
    }

    .verticle-seperator {
      width: 5px;
      border-top-left-radius: $primary-radius;
      border-bottom-left-radius: $primary-radius;
    }
  }

  .flash-notice {
    border: 1px solid $notice-border-color;
    .notice-icon {
      border: 1px solid $notice-border-color;
      background-color: $notice-background-color;
    }
    .notice-seperator {
      background-color: $notice-border-color;
    }
  }

  .flash-alert {
    border: 1px solid $alert-border-color;
    .alert-icon {
      border: 1px solid $alert-border-color;
      background-color: $alert-background-color;
    }
    .alert-seperator {
      background-color: $alert-border-color;
    }
  }

  .flash-error {
    border: 1px solid $error-border-color;
    .error-icon {
      border: 1px solid $error-border-color;
      background-color: $error-background-color;
    }
    .error-seperator {
      background-color: $error-border-color;
    }
  }

  .flash-notify {
    border: 1px solid $notify-border-color;
    .notify-icon {
      border: 1px solid $notify-border-color;
      background-color: $notify-background-color;
    }
    .notify-seperator {
      background-color: $notify-border-color;
    }
  }
}

.flash-messages-dialog-wrapper {
  .dialog-alert-container {
    margin: 10px 0;
  }

  .dialog-alert-container:first_child {
    margin-top: 0;
    margin-bottom: 10px;
  }

  .dialog-alert-container:last_child {
    margin-top: 10px;
    margin-bottom: 0;
  }
}

.dialog-alert-container {
  width: 100%;
  border-radius: $primary-radius;

  .icon-box {
    height: 100%;
    border-top-left-radius: $primary-radius;
    border-bottom-left-radius: $primary-radius;

    i {
      font-size: 1rem;
    }
  }

  .detail-body {
    padding: 10px;

    ul {
      padding: 0;
      margin: 0;
      list-style-type: none;

      li, li * {
        font-size: 1rem;
      }
    }
  }
}

.dialog-notice-flash-container {
  border: 1px solid $notice-background-color;
  
  .icon-box {
    background-color: $notice-background-color;

    i {
      color: $secondary-color;
    }
  }

  .detail-body {
    ul {
      li, li * {
        color: $notice-border-color;
      }

      li > a {
        color: $link-color;
      }
    }
  }
}

.dialog-alert-flash-container {
  border: 1px solid $alert-background-color;

  .icon-box {
    background-color: $alert-background-color;

    i {
      color: $secondary-color;
    }
  }

  .detail-body {
    ul {
      li, li * {
        color: $alert-border-color;
      }

      li > a {
        color: $link-color;
      }
    }
  }
}

.dialog-error-flash-container {
  border: 1px solid $error-background-color;

  .icon-box {
    background-color: $error-background-color;

    i {
      color: $secondary-color;
    }
  }

  .detail-body {
    ul {
      li, li * {
        color: $error-border-color;
      }

      li > a {
        color: $link-color;
      }
    }
  }
}

.dialog-notify-flash-container {
  border: 1px solid $notify-background-color;

  .icon-box {
    background-color: $notify-background-color;

    i {
      color: $secondary-color;
    }
  }

  .detail-body {
    ul {
      li, li * {
        color: $notify-border-color;
      }

      li > a {
        color: $link-color;
      }
    }
  }
}
// end flash messages

// custom classes start
.border-none {
  border: none !important;
}

.list-style-type-none {
  list-style-type: none !important;
}
// custom classes end

.app-rich-text-area {
  height: 15rem;
}

.meal-item-box-container {
  border: 1px solid $primary-border-color;
  position: relative;
  margin-bottom: 10px;

  &:hover, &:focus {
    .meal-item-box-item {
      .meal-item-img-container {
        .meal-item-img {
          cursor: pointer;
          max-width: 100%;
          max-height: 100%;
        }
      }
    }

    .bottom-actions-container {
      display: block;
    }
  }
}

.meal-item-box-item {
  .meal-item-img-container {
    position: relative;
    width: 100%;
    height: 220px;

    .meal-item-img {
      transition: all .3s ease;
      max-width: 90%;
      max-height: 90%;
    }
  }

  .indicator {
    background-color: $primary-color;
    color: $secondary-color;
    padding: 2px 10px;
  }

  .indicator-md {
    background-color: $primary-color;
    color: $secondary-color;
    padding: 2px 10px;
  }

  .top-left-corner-indicator {
    position: absolute;
    top: 0;
    left: 0;
  }

  .top-right-corner-indicator {
    position: absolute;
    top: 0;
    right: 0;
  }

  .bottom-left-corner-indicator {
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .bottom-right-corner-indicator {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .item-details {
    .user-name-container, .item-name-container {
      margin-bottom: 1rem;
    }

    .item-type {
      color: $primary-color;
      font-weight: 400;
    }
  }
}

.bottom-actions-container {
  position: absolute;
  bottom: 15px;
  left: 0;
  height: 40px;
  width: 100%;
  padding: 0 15px;
  background-color: $secondary-color;
  display: none;
}

.icon-container {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  padding: 0;
  text-align: center;
  line-height: 40px;

  .bars-icon {
    font-size: 16px;
    line-height: 40px;
  }

  .heart-icon {
    font-size: 20px;
    line-height: 40px;
  }
}

.unselected-icon-container {
  background-color: $primary-color;

  i {
    color: $white-color !important;
  }

  &:hover {
    background-color: $white-color;

    i {
      color: $primary-color !important;
    }
  }
}

.selected-icon-container {
  background-color: $white-color;

  i {
    color: $primary-color;
  }

  &:hover {
    background-color: $primary-color;

    i {
      color: $white-color;
    }
  }
}

