$primary-color: #D63230;
$primary-hover-color: #D63230;
$secondary-color: #FFFFFF;
$primary-border-color:              #E0E7EE;
$secondary-border-color:            #CCCCCC;
$primary-background-disabled-color: #F7F7F7;
$primary-border-disabled-color:     #F7F7F7;
$secondary-border-disabled-color:   #DDDDDD;

$link-color: #006FC8;
$link-hover-color: #00559A;

$primary-text-color: #000000;
$secondary-text-color: #FFFFFF;

$white-color: #FFFFFF;
$black-color: #000000;
$grey-color: grey;

// item colors
$item1: #E4B2D6;
$item2: #DCC698;
$item3: #A2D1E1;
$item4: #DCD691;

// navbar
$navbar-background-color: $primary-color;
$navbar-text-color: $secondary-text-color;

// links
$primary-link-text-color: $link-color;
$primary-link-hover-color: $link-hover-color;
$secondary-link-text-color: $grey-color;
$secondary-link-hover-color: $black-color;

// buttons
$primary-button-background-color: $primary-color;
$primary-button-text-color: $secondary-color;
$primary-button-border-color: $primary-color;
$primary-button-hover-background-color: transparent;
$primary-button-hover-text-color: $primary-color;
$primary-button-hover-border-color: $primary-color;

$secondary-button-background-color: $secondary-color;
$secondary-button-text-color: $primary-color;
$secondary-button-border-color: $secondary-color;
$secondary-button-hover-background-color: $primary-color;
$secondary-button-hover-text-color: $secondary-color;
$secondary-button-hover-border-color: $primary-color;

// start checkbox colors
$checkbox-unchecked-background-default-color:  $secondary-color;
$checkbox-unchecked-border-default-color:      $secondary-border-color;
$checkbox-unchecked-background-hover-color:    $secondary-color;
$checkbox-unchecked-border-hover-color:        $primary-hover-color;
$checkbox-unchecked-background-disabled-color: $primary-background-disabled-color;
$checkbox-unchecked-border-disabled-color:     $secondary-border-disabled-color;
$checkbox-checked-background-default-color:    $primary-color;
$checkbox-checked-border-default-color:        $primary-color;
$checkbox-checked-text-default-color:          $secondary-color;
$checkbox-checked-background-hover-color:      $primary-hover-color;
$checkbox-checked-border-hover-color:          $primary-hover-color;
$checkbox-checked-text-hover-color:            $secondary-color;
$checkbox-checked-background-disabled-color:   $primary-border-disabled-color;
$checkbox-checked-border-disabled-color:       $primary-border-disabled-color;
$checkbox-checked-text-disabled-color:         $secondary-color;
// end checkbox colors

// start dropdown colors
$dropdown-background-color:          $secondary-color;
$dropdown-border-default-color:      $secondary-border-color;
$dropdown-text-default-color:        $black-color;
$dropdown-border-hover-color:        $black-color;
$dropdown-text-hover-color:          $black-color;
$dropdown-border-focus-color:        $primary-color;
$dropdown-text-focus-color:          $black-color;
$dropdown-background-disabled-color: $primary-background-disabled-color;
$dropdown-border-disabled-color:     $secondary-border-disabled-color;
$dropdown-text-disabled-color:       $black-color;

$dropdown-item-background-default-color:  $secondary-color;
$dropdown-item-background-hover-color:    #F2F8FC;
$dropdown-item-background-disabled-color: $primary-background-disabled-color;
$dropdown-item-background-active-color:   #E6F1F9;
// TODO border color of dropdown and dropdown item (left)

// border radius start
$primary-radius: 4px;
// border radius end

// font family start
$primary-font-family: "Poppins",Arial,sans-serif;
// font family end